# Copie ce fichier en .env.local et remplis avec tes valeurs Firebase
# Va sur https://console.firebase.google.com/ pour obtenir ces valeurs

VITE_FIREBASE_API_KEY=ton_api_key_ici
VITE_FIREBASE_AUTH_DOMAIN=ton_projet.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://ton_projet-default-rtdb.europe-west1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=ton_projet
VITE_FIREBASE_STORAGE_BUCKET=ton_projet.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1234567890
VITE_FIREBASE_APP_ID=1:1234567890:web:abc123
